@charset "utf-8";
@import 'common.css';

.align-left {
  text-align: left;
}

.download {
  margin-bottom: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dedfe1;
}

.download-table {
  width: 87%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.download-table th {
  padding: 20px 0;
  background-color: #eeeff1;
}

.download-table td {
  border-bottom: 1px solid #e6eaec;
}

.download-table tr:last-child td {
  border-bottom: none;
}

.download-table td {
  padding: 20px 0;
  background-color: #fafbfc;
}

.download-format {
  margin: 0 49px;
  color: #4D94FF;
  text-decoration: underline;
}

.icon-question {
  background: url('../images/icon_question.png') no-repeat left center;
  background-size: 32px 32px;
}

.setup .mod-title {
  padding-bottom: 50px;
}

.setup-question {
  height: 32px;
  line-height: 38px;
  margin: 40px 0 20px 0;
  padding-left: 42px;
  font-size: 22px;
}

.setup-txt {
  line-height: 32px;
  font-size: 18px;
  text-align: justify;
}

.setup-step {
  margin: 20px 0 10px 0;
  font-size: 18px;
}

.setup-table {
  width: 1100px;
  margin-top: 24px;
  text-align: center;
  border-left: 1px solid #8a8a8a;
  border-top: 1px solid #8a8a8a;
}

.setup-table th,
.setup-table td {
  padding: 16px 30px;
  font-size: 18px;
  border-right: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
}
