@charset "utf-8";
@import 'common.css';

.linuxqq {
  background: url('../images/index_bg.png') no-repeat top center;
  background-size: cover;
}

.linuxqq {
  padding: 0;
}

.index-content {
  width: 1200px;
  height: calc(100vh - 80px);
  min-height: 817px;
  margin: 80px auto 0 auto;
}

.index-content .wrap {
  width: 1200px;
  height: 817px;
}

.index-content__pic {
  position: relative;
  float: left;
  width: 350px;
  height: 100%;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity:0;
    -webkit-transform:translateX(-20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateX(0)
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity:0;
    -moz-transform:translateX(-20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateX(0)
  }
}
@keyframes fadeInLeft {
  0% {
    opacity:0;
    transform:translateX(-20px)
  }
  100% {
    opacity:1;
    transform:translateX(0)
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity:0;
    -webkit-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity:0;
    -moz-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@keyframes fadeInUp {
  0% {
    opacity:0;
    transform:translateY(20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}
@-webkit-keyframes bounceIn{
  0% {
    opacity:0;
    -webkit-transform:scale(.3)
  }
  50% { 
    opacity:1;
    -webkit-transform:scale(1.05)
  }
  70% {
    -webkit-transform:scale(.9)
  }
  100% {
    -webkit-transform:scale(1)
  }
}
@-moz-keyframes bounceIn{
  0% {
    opacity:0;
    -moz-transform:scale(.3)
  }
  50% {
    opacity:1;
    -moz-transform:scale(1.05)
  }
  70% {
    -moz-transform:scale(.9)
  }
  100% {
    -moz-transform:scale(1)
  }
}
@keyframes bounceIn{
  0% {
    opacity:0;
    transform:scale(.3)
  }
  50% {
    opacity:1;
    transform:scale(1.05)
  }
  70% {
    transform:scale(.9)
  }
  100% {
    transform:scale(1)
  }
}

.index-content__pic img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-animation: fadeInLeft 1s .2s ease both;
  -moz-animation: fadeInLeft 1s .2s ease both;
  animation: fadeInLeft 1s .2s ease both;
}

.index-content__main {
  position: relative;
  float: left;
  height: 100%;
  margin-left: 75px;
  color: #fff;
}

.index-content__title {
  width: 100%;
  margin-top: 220px;
  font-size: 0;
  line-height: 38px;
  vertical-align: middle;
  -webkit-animation: fadeInUp 1s 0.4s ease both;
  -moz-animation: fadeInUp 1s 0.4s ease both;
  animation: fadeInUp 1s 0.4s ease both;
}

.index-content__title .version {
  position: relative;
  display: inline-block;
  font-size: 38px;
}

.index-content__title .version::after {
  position: absolute;
  right: -34px;
  top: -28px;
  display: block;
  content: '';
  width: 29px;
  height: 29px;
  background: url('../images/icon_new.png') no-repeat center center;
  background-size: 100% 100%;
  transform-origin: left bottom;
  -webkit-animation: bounceIn 1s 1.4s ease both;
  -moz-animation: bounceIn 1s 1.4s ease both;
  animation:bounceIn 1s 1.4s ease both;
}

.index-content__title .date {
  display: inline-block;
  margin-left: 56px;
  font-size: 21px;
}

.index-content__slogan {
  margin-top: 45px;
  font-size: 80px;
  -webkit-animation: fadeInUp 1s 0.6s ease both;
  -moz-animation: fadeInUp 1s 0.6s ease both;
  animation: fadeInUp 1s 0.6s ease both;
}

.index-content__slogan .dot {
  margin: 0 10px;
}

.index-content__download {
  display: inline-block;
  padding: 16px 85px;
  margin-top: 114px;
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: #00b2ff;
  -webkit-animation: fadeInUp 1s 0.8s ease both;
  -moz-animation: fadeInUp 1s 0.8s ease both;
  animation: fadeInUp 1s 0.8s ease both;
  transition: background-color 0.2s ease;
}

.index-content__download:hover {
  background-color: #18b9ff;
}

.index-content__download:hover {
  color: #fff;
}

.features-list {
  position: absolute;
  left: 360px;
  top: 522px;
  width: 470px;
  -webkit-animation: fadeInUp 1s 0.8s ease both;
  -moz-animation: fadeInUp 1s 0.8s ease both;
  animation: fadeInUp 1s 0.8s ease both;
}

.features-list li {
  margin-bottom: 14px;
  line-height: 1.4;
  color: #fff;
  font-size: 21px;
}
